// main: style.less

@import "vars";
@import url("https://use.typekit.net/hxz0yqq.css");

body {
  font-family: @font-secondary;

}

p {
  line-height: 1.8;
  font-weight: 300;
}

a {
  font-weight: 700;
  text-decoration: none;
  color: @primary-dark;
  transition: @transition;

  &:hover {
    color: @secondary;
  }


}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: @font-primary;
  font-weight: 400;
}

.container-fluid-custom {
  padding-left: 80px;
  padding-right: 80px;

  @media @breakpoint-tablet-xl {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.btn-custom {
  padding: 5px 18px 7px 18px;
  border-radius: @border-radius-sm;
  transition: @transition;
  font-family: @font-primary;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  flex-shrink: 0;

  @media @breakpoint-tablet-xl {
    font-size: 18px;
  }

  @media @breakpoint-mobile {
    font-size: 16px;
  }



  &.btn-custom__primary {
    color: @text-primary;
    background-color: @primary;
    transition: @transition;


    &:hover {
      color: @text-primary;
      background-color: @primary-dark;
      border-color: @primary-dark;
    }
  }

  &.btn-custom__secondary {
    color: @primary;
    background-color: @secondary;
    transition: @transition;


    &:hover {
      opacity: .8;
    }
  }

  &.btn-custom__outline__primary {
    background-color: transparent;
    color: @primary;
    border: 1px solid @primary;


    &:hover {
      opacity: .8;

    }
  }

  &.btn-custom__outline__secondary {
    background-color: transparent;
    color: @secondary;
    border: 1px solid @secondary;

    &:hover {
      opacity: .8;
    }
  }


  &.btn-custom-text {
    font-weight: 500;
    font-size: 16px;
    padding: 0;
    color: @font-primary;
    font-family: @font-primary;

    s &:hover {
      border: 0;
      opacity: 0.8;
    }

    &:active {
      border: 0;
    }
  }
}

.btn-outline-light {
  .bi-search {
    &::before {
      color: @primary-dark;
    }
  }
}

.bg-custom-dark {
  background-color: @secondary;
  padding: 48px 0;

  .section-title-block {
    color: @white;

    .section-title {
      color: @white;
    }
  }
}

.bg-custom-brand {
  background-color: @primary;
  padding: 48px 0;
}

.bg-neutral {
  background-color: @neutral;
}

.navbar-custom {
  flex-direction: column;
  justify-content: center;
  padding: 0;

  .navbar-brand {
    width: 340px;
    padding: 24px 0;

    @media @breakpoint-tablet-min {
      width: 100%;
      text-align: center;
    }

    @media @breakpoint-mobile {
      width: 230px;
    }
  }

  .navbar-nav__wrap {
    border-top: 1px solid #C3BAA9;
    width: 100%;

    .navbar-collapse {
      padding: 24px 0;
      text-align: center;
    }

  }




  .navbar-nav {
    width: 100%;
    justify-content: space-between;

    @media @breakpoint-tablet {
      align-items: center;
      gap: 20px;
      padding-bottom: 20px;
    }


    .nav-item {
      .nav-link {
        color: @text-primary-light;
        font-family: @font-secondary;

        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 2.56px;
        text-transform: uppercase;

        @media @breakpoint-tablet {
          font-size: 14px;
        }

        @media @breakpoint-tablet-min {
          font-size: 12px;
        }

        @media @breakpoint-desktop {
          font-size: 16px;
        }

        span {
          color: @primary-dark;
        }

        &.active {
          color: @primary-dark;
        }

        &.nav-link__featured {
          color: @primary-dark;
          text-decoration: underline;
        }

        &.nav-link__feather {
          position: relative;

          &::before {
            content: "";
            width: 24px;
            height: 24px;
            background-image: url(../img/icon-feather.svg);
            background-repeat: no-repeat;
            position: absolute;
            background-size: contain;
            top: -16px;
            left: 42%;
          }
        }
      }
    }
  }

}

.navbar-footer {
  .navbar-nav__wrap {
    border: 0;
  }

  .navbar-brand {
    padding: 16px;
    padding-bottom: 0;
    margin: 0 auto;
  }

  .navbar-nav {
    align-items: center;

    @media @breakpoint-tablet {
      gap: 20px;
      padding: 20px 0;
    }
  }

}

.hero-image {
  position: relative;



  .hero-image__description {
    position: absolute;
    bottom: 5%;
    width: 60%;
    left: 20%;



    @media @breakpoint-tablet-min {
      bottom: 8%;
    }

    @media @breakpoint-desktop {
      bottom: 10%;
    }

    h1 {
      color: #F4F1EC;
      text-align: center;
      font-size: 24px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      letter-spacing: 1.12px;
      margin-bottom: 16px;

      

      @media @breakpoint-tablet-min {
        font-size: 38px;
        margin-bottom: 24px;
      }

      @media @breakpoint-desktop {
        font-size: 56px;
        margin-bottom: 32px;
      }
    }

    h2{
      color: #F4F1EC;
      text-align: center;
    }

    hr {
      width: 20%;
      color: #DDBC82;
      height: 1px;
      text-align: center;
      margin-left: 40%;

    }
  }

  &.hero-image-additional {
    text-align: center;

    h1 {
      margin-bottom: 4px;
    }

    h2 {
      color: @primary;
      font-size: 36px;
      font-style: italic;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.72px;
      margin-bottom: 24px;
    }
  }
}

.section-title-block {
  text-align: center;
  margin-bottom: 32px;

  @media @breakpoint-tablet-min {
    margin-bottom: 56px;
    width: 60%;
    margin-left: 20%;
  }

  .section-title {
    color: @gray-900;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.72px;
  }

  p {
    font-weight: 300;
    line-height: 1.7;
  }

  hr {
    width: 20%;
    margin-left: 40%;
  }
}

.section-custom-no-bg {
  padding: 64px 0;
}

.section-custom-bg {
  padding: 48px 0;
}

.bg-img-branded-first {
  background-image: url(../img/bg-branded-01.jpg);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 1) 100%);
    z-index: -1;
  }

}

.bg-img-branded-second {
  background-image: url(../img/bg-branded-02.jpg);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 88%, rgba(255, 255, 255, 1) 88%, rgba(255, 255, 255, 1) 100%);
    z-index: -1;
  }

  .section-title-block {
    .section-title {
      color: @white;
    }

    hr {
      border-color: @white;
    }
  }
}

.subtitle-muted {
  color: @gray-300;
  font-family: @font-secondary;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;
  text-transform: uppercase;
}

.section-about {
  h2 {
    color: @primary-dark;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
    margin-bottom: 32px;
  }
}

.list-branded-wrap {
  padding: 32px;
  background-color: @white;
  box-shadow: 0px 4px 27px 0px rgba(0, 0, 0, 0.08);
}


.list-branded {
  list-style: none;
  padding-left: 16px;
  margin-left: 10px;

  li {
    list-style-image: url(../img/icon-list-arrow.svg);
    padding-left: 8px;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }

    &li:before {
      content: '';
    }
  }

}

.section-class-apart {
  .carousel-one-item__block {
    .row {
      align-items: center;
    }

    h4 {
      color: @gray-600;
      font-family: @font-secondary;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 2.88px;
      text-transform: uppercase;
      margin-bottom: 16px;
    }
  }
}


.section-commitment {
  .row {
    align-items: center;
  }

  h3 {
    color: @white;
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.12px;

    @media @breakpoint-tablet-min {
      font-size: 56px;
      margin-bottom: 24px;
    }
  }
}

.blog-item {
  padding: 16px;

  img {
    margin-bottom: 24px;
  }

  .blog-item__title {
    color: @gray-600;
    font-family: @font-secondary;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.56px;
    text-transform: uppercase;
  }

  p {
    color: @gray-600;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.7;
    margin-bottom: 24px;
  }

}

.testimonial-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 24px;
  text-align: center;
  margin-bottom: 16px;s

  h5 {
    color: @primary;
    margin-bottom: 4px;
  }

  .img-feather {
    width: 44px;
    height: 44px;
  }
}

.cta-wrap {
  display: flex;
  justify-content: space-around;
  margin-bottom: 32px;

  @media @breakpoint-tablet {
    flex-direction: column;
  }

  .cta-block {
    border-right: 1px solid @white;
    text-align: center;
    padding: 12px 44px;
    width: 100%;

    @media @breakpoint-tablet {
      border-right: 0;
      border-bottom: 1px solid @white;
      padding: 44px;
    }

    &:last-child {
      border: 0;
    }

    .cta-block__title {
      color: @gray-600;
      font-family: @font-secondary;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.7;
      text-transform: capitalize;
    }
  }
}

.form-custom {
  padding: 32px;
  background-color: @white;
  box-shadow: 0px 4px 27px 0px rgba(0, 0, 0, 0.08);

  .form-control {
    border: 0;
    border-bottom: 1px solid @primary;
    border-radius: 0;
    color: @gray-900;
    font-family: @font-primary;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.32px;
  }

  .form-floating {
    label {
      color: @gray-300;
      font-family: @font-primary;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      letter-spacing: 0.32px;
    }
  }
}

.location-block-wrap {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
  padding-bottom: 44px;
  border-bottom: 1px solid #C3BAA9;

  .location-block {
    color: @secondary;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.7;
  }
}

.socials {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.footer-bottom {
  background-color: @neutral;
  padding: 16px;

  p {
    text-align: center;

    &.muted {
      opacity: 0.5;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 2.24px;
      margin-bottom: 0;

      a {
        text-decoration: underline;
        color: @text-primary;
        font-weight: 300;
      }
    }
  }
}

.carousel-custom {
  .slick-dots {
    bottom: -32px;
  }

  .slick-prev {

    &:before {
      content: url(../img/icon-prev.svg);
    }
  }

  .slick-next {

    &:before {
      content: url(../img/icon-next.svg);
    }
  }
}


.carousel-services {
  @media @breakpoint-tablet {
    display: none;
  }

  .service-carousel-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.8s ease; // Плавный переход

    &.active {
      position: relative; // Возвращаем нормальное положение активного изображения
      opacity: 1;
    }
  }
}


.service-item {
  a {
    text-decoration: none;
    color: @white;
    padding: 16px 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.7;
    letter-spacing: 2.56px;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(195, 186, 169, 0.30);

    .badge {
      display: none;
    }
  }

  &.active {
    a {
      color: @primary;
      border-bottom: 1px solid @primary;

      .badge {
        display: block;
      }
    }
  }
}

#menu-about {
  .service-item {
    a {
      color: @text-primary;
      opacity: .9;
      border-bottom: 1px solid rgba(0, 0, 0, 0.36);
    }

    &.active {
      a {
        color: @text-primary;
        border-bottom: 1px solid @secondary;
      }
    }
  }
}

.section-shuffle {


  h2 {
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.72px;
  }

  h4 {
    color: #000;
    font-family: @font-secondary;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.7;
    letter-spacing: 2.56px;
    text-transform: uppercase;
  }

  .section-shuffle-block__description {
    padding: 0 24px;
  }

  .row {
    align-items: center;
  }

  .section-shuffle-block {
    padding: 56px 0;

    &:nth-child(even) {
      .row {
        flex-direction: row-reverse;
      }

    }
  }
}

.testimonials-page {
  .testimonial-page-block {
    background-color: @neutral;
    padding: 32px;
    text-align: center;
    position: relative;
    margin-bottom: 44px;

    &:before {
      content: url(../img/icon-feather.svg);
      position: absolute;
      left: 50%;
      top: -24px;


    }

    h4 {
      color: @primary-dark;
      font-family: @font-primary;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 1.7;
    }
    .subtitle {
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 1.7;
      letter-spacing: 2.56px;
      text-transform: uppercase;
      margin-bottom: 2px;
    }
  }
}

.testimonial-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4; // Ограничиваем текст 4 строками
  max-height: 6em; // Устанавливаем максимальную высоту для 4 строк
  line-height: 1.5em; // Высота строки

  &.full {
    -webkit-line-clamp: unset; // Показываем весь текст при разворачивании
    max-height: none; // Убираем ограничение по высоте
  }
}

.read-less-btn {
  display: none; // Скрываем кнопку "Read Less" по умолчанию
}

.show-less {
  .read-more-btn {
    display: none; // Скрываем кнопку "Read More", если текст развернут
  }

  .read-less-btn {
    display: inline; // Показываем кнопку "Read Less", если текст развернут
  }
}

.pagination {
  // Переопределяем переменные Bootstrap
  --bs-pagination-padding-x: 1rem; // Изменяем горизонтальные отступы
  --bs-pagination-padding-y: 0.5rem; // Изменяем вертикальные отступы
  --bs-pagination-font-size: 1.2rem; // Изменяем размер шрифта
  --bs-pagination-color: @primary; // Цвет текста (например, используем переменную для основного цвета)
  --bs-pagination-bg: transparent; // Фоновые цвета для страниц
  --bs-pagination-border-color: @primary; // Цвет границ
  --bs-pagination-border-radius: 0; // Радиус скругления границ
  --bs-pagination-hover-color: @primary; // Цвет текста при наведении
  --bs-pagination-hover-bg: @primary; // Фон при наведении
  --bs-pagination-active-bg: @primary; // Фон активной страницы
  --bs-pagination-active-color: @primary; // Цвет текста активной страницы
  --bs-pagination-active-border-color: @primary; // Граница активной страницы

  // При необходимости, вы можете добавить дополнительные стили для конкретных элементов пагинации:
  li {
    margin-right: 0.5rem; // Отступы между элементами пагинации

    a {
      color: @primary; // Цвет ссылок
      padding: 0.5rem 1rem; // Отступы для ссылок
      border: 1px solid @primary; // Границы ссылок
      border-radius: 0; // Скругление углов
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 400;

      &:hover {
        background-color: @secondary; // Фон активного элемента
        color: @primary; // Цвет текста активного элемента
        border-color: @secondary; // Граница активного элемента
      }
    }
  }

  // Стили для активного элемента
  .active {
    a {
      background-color: @secondary; // Фон активного элемента
      color: @primary; // Цвет текста активного элемента
      border-color: @secondary; // Граница активного элемента
    }
  }

  // Стили для отключенного элемента
  .disabled {
    a {
      color: @gray-300; // Цвет текста для отключенной ссылки
      background-color: @gray-300; // Фон отключенной ссылки
      border-color: @gray-300; // Границы отключенной ссылки
    }
  }
}

#accordionFAQ {


  .accordion-button {
    padding: 16px;
    color: @primary;
    font-family: @font-secondary;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 1px;
    text-transform: uppercase;

  }

  .accordion-button:not(.collapsed) {
    color: @primary;
    background-color: @secondary;
    box-shadow: none;
    padding: 16px;
  }
}

.contact-block {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;

  h3 {
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.4px;
  }
}

.contact-form {
  margin-bottom: 44px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 80%, @neutral 80%, @neutral 100%);
    z-index: -1;
  }
}

.form-select {
  border: 0;
  border-bottom: 1px solid @primary;
  border-radius: 0;
  font-family: @font-primary;
}

.blog-block {
  margin-bottom: 32px;

  .blog-block__description {
    h4 {
      color: @gray-300;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.32px;
    }

    h2 {
      color: @gray-900;
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.56px;
    }

    .category {
      color: @primary;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 2.24px;
      text-transform: uppercase;
    }
  }
}

.tags {
  display: flex;
  gap: 12px;
  margin-bottom: 24px;

  li {
    a {
      color: @primary;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 2.24px;
      text-transform: uppercase;
      border: 1px solid @primary;
      padding: 4px 8px;
    }
  }
}

.text-page{
  ul {
    list-style-type: none; // Убираем стандартные маркеры

    li {
        position: relative;
        padding-left: 20px; // Отступ для маркера
        margin-bottom: 16px;

        &::before {
            content: ''; // Вставляем пустое содержимое для маркера
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 8px; // Размер точки
            height: 8px; // Размер точки
            background-color: @primary; // Золотой цвет точки
            border-radius: 50%; // Делаем маркер круглым
        }
    }
}

blockquote{
  background-color: @neutral;
  padding: 24px;
  text-align: center;
  position: relative;
  margin: 24px 0;
  &:before {
    content: url(../img/quote.svg);
    position: absolute;
    left: 50%;
    top: -12px;
}
  h5{
    color: @primary;
    font-size: 16px;
  }
}
}

.blog-info{
  border-top: 1px solid @primary;
  padding-top: 24px;
}